
*{margin: 0; padding: 0;}
#slide {width: 100%; height: auto; max-width: 100%; position: relative;}
#slide img {width: 100%; height: 100%; margin-bottom: -500px;}

@media screen and (min-width: 600px) {
    #backimg {width: 100%; height: auto; background-image: url(../img/플라워왕국-고화질.png); background-size: cover;
        display: flex; flex-flow: row wrap; background-attachment: fixed ;}
        
        #slide {width: 100%; height: auto; position: relative;}
        #slide img {width: 100%; height: 100%; margin-bottom: -0px;}
        #slide > .slidetext p {width: 30%; height: 150px; 
        font-family: 'Pretendard'; font-size: 1.8em; font-weight: 900; color: #ffffff; text-align: center;
        position: absolute; line-height: 50px; top: 50px; left: 15%; text-shadow: 3px 3px 8px rgb(95, 95, 95);}
        
        
        /* 주민소개 */
        #introduce {width: 100%; height: 1300px; display: flex; justify-content: center; align-items: center;}
        #introduce> .introcenter {width: 100%; height: 1100px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
         border-radius: 100px 0px;}
        #introduce> .introcenter> .capbox {width: 100%; height: 100px; display: flex; align-items: center; justify-content: center;}
        .capbox > h1 {font-family: 'Pretendard'; font-weight: 800; font-size: 45px;}
        
        #introduce> .introcenter> .introbox {width: 70%; height: 24%; background-image: url(../img/back.yellow.png); float: left; border-radius: 50px 0px;
        display: flex; justify-content:center; align-items: center; flex-flow: wrap row; float: left;}
        .profile {width: 40%; height: 70%; display: flex; justify-content: center; overflow: hidden;
        border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); border-radius: 40px 0px; background-image: url(../img/흰색도트.png); }
        .profile img{width: 100%; height: 100%;}
        .text {width: 50%; height: 80%; display: flex; flex-flow: row wrap; justify-content: center; margin-left: 10px;}
        .text h2 {width: 90%; height: 20%; font-size: 33px; font-family: 'Pretendard'; font-weight: 900; color:  rgb(233, 0, 0);}
        .text strong {width: 90%; height: 10%; font-size: 20px; font-family: 'Pretendard'; font-weight: 700; color: rgb(0, 0, 0)}
        .text p {width: 90%; height: 60%; font-size: 15px; line-height: 30px; font-family: 'Pretendard'; font-weight: 700;}
        
        /* 플라워왕국 스토리 */
        #story {width: 100%; height: auto; background-size: cover;}
        #story .storybox {width: 100%; height: 400px; margin: 0 auto;
        display: flex; justify-content: center; flex-flow: row wrap; align-items: center;}
        .storybox h1 {width: 100%; height: 20%; text-align: center; font-size: 60px; font-family: 'Pretendard'; font-weight: 800;}
        .storybox p {width: 95%; height: 60%; text-align: center; font-size: 16px; line-height: 35px; font-family: 'Pretendard'; font-weight: 500;}
        
        /* 소개영상 */
        #story .wonderflower {width: 100%; height: 500px; display: flex; justify-content: center; align-items: start; } 
        .wfvideo {width: 80%; height: auto; border-radius: 100px 0px; border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); overflow: hidden; position: relative;}
        .wfvideo > .storyvideo {width: 100%; height: 105%; object-fit: fill;}
        
        #btn-play {position: absolute; width: 110px; height: 110px; z-index: 1; top: 50%; left: 46%; border-radius: 100%; font-size: 70px;
        line-height: 50px; text-align: center;  background-color: white;
        border: 
        6px solid rgb(54, 54, 54); box-shadow: 0px 0px rgb(250, 212, 0); color:rgb(248, 59, 26); cursor: pointer;
        transform: translateY(-50%);}
        
        
        
        
        /* 캐릭터 배지 */
        #method {width: 100%; height: 1500px; background-image: url(../img/bg_item_blue.png);
        display: flex; justify-content: center; align-items: center;}
        .methodbox {width: 1300px; height: 1300px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
        .methodbox > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
            width: 90%; height: 58px; text-align: center; line-height: 60px; width: 600px; height: 100px; line-height: 50px;}
        
        .methodbox > .mtbox1 {width: 87%; height: 600px; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); }
        .mtbox1 > h2 {font-family: 'Pretendard'; width: 100%; height: 25%; text-align: center; line-height: 40px; font-weight: 800; padding: 20px 0px;}
        .methodig {width: 98%; height: 55%; position: relative;}
        .methodig img {position: absolute;}
        .methodig img:nth-of-type(1) {width: 30%; left: 5%; top: 10%;}
        .methodig img:nth-of-type(2) {width: 30%; right: 8%; top: 120px;}
        .methodig img:nth-of-type(3) {width: 22%; left: 3%; top: 180px;}
        .methodig img:nth-of-type(4) {width: 19%; left: 25%; top: 80px;}
        .methodig img:nth-of-type(5) {width: 25%; left: 40%; top: 0px;}
        .methodig img:nth-of-type(6) {width: 18%; right: 22%; top: 80px;}
        .methodig img:nth-of-type(7) {width: 23%; right: 3%; top: 230px; }
        
        
        .methodbox > .mtbox2 {width: 87%; height: 35%; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); display: flex; justify-content: space-around; flex-flow: row wrap;
        position: relative;}
        .mtbox2 > h2 {width: 100%; height: 20%; font-family: 'Pretendard'; font-weight: 800; line-height: 40px; font-size:25px; display: flex; align-items: center; justify-content: center;}
        .mtbox2 > .mtb {width: 45%; height: 80%; display: flex; justify-content: center; align-items: baseline;  flex-flow: row wrap;}
        .mtbox2 > .mtb > .mtbafter {width: 100%; height: 70%; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(250, 212, 0); border-radius: 50px 0px; overflow: hidden;}
        .mtbafter img {width: 100%; height: 100%;}
        .mtb > img {width: 80%; height: 20%;}
        .mtb > h2 {font-family: 'Pretendard'; font-weight: 800; font-size: 22px; background-color: rgb(0, 81, 255); color: #eee;
        width: 350px; height: 50px; border-radius: 100px; text-align: center; line-height: 50px;}
        
        .jump {position: absolute; width: 100px; left: 10px; top: 70px;}
        
        /* 코스선택 */
        #course {width: 100%; height: 1000px; background-image: url(../img/bg_item_blue.png); display: flex; justify-content: center; align-items: center;}
        .coursein {width: 1300px; height: 900px; display: flex; justify-content: center; align-items: center; flex-flow: row wrap;}
        .coursein > h1 {font-family: 'Pretendard'; font-weight: 900; color: #eee;
        width: 600px; text-align: center; height: 100px; line-height: 50px;}
        .coursebox {width: 90%; height: 40%;
        display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;}
        .cbox1 {width: 55%; height: 90%; background-color: cyan;
        border-radius: 50px 0px; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(243, 243, 243); overflow: hidden;}
        .cbox1 img {width: 101%; height: 101%;}
        .tbox1 {width: 38%; height: 90%; display: flex;
        flex-flow: row wrap; justify-content: center;}
        .tbox1 > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
        background-color: rgb(233, 0, 0); width: 90%; height: 58px; text-align: center; line-height: 60px;}
        .tbox1 > p {font-family: 'Pretendard'; font-size: 25px; line-height: 55px;
        text-align: left; width: 90%; color: #eee; font-weight: 700; letter-spacing: 3px;}


}

@media screen and (min-width : 1024px){
    #backimg {width: 100%; height: auto; background-image: url(../img/플라워왕국-고화질.png); background-size: cover;
        display: flex; flex-flow: row wrap; background-attachment: fixed ;}
        
        #slide {width: 100%; height: auto; position: relative;}
        #slide img {width: 100%; height: 100%; margin-bottom: -0px;}
        #slide > .slidetext p {width: 30%; height: 150px; 
        font-family: 'Pretendard'; font-size: 1.8em; font-weight: 900; color: #ffffff; text-align: center;
        position: absolute; line-height: 50px; top: 50px; left: 15%; text-shadow: 3px 3px 8px rgb(95, 95, 95);}
        
        
        /* 주민소개 */
        #introduce {width: 100%; height: 1400px; display: flex; justify-content: center; align-items: center;}
        #introduce> .introcenter {width: 100%; height: 1200px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
         border-radius: 100px 0px;}
        #introduce> .introcenter> .capbox {width: 100%; height: 100px; display: flex; align-items: center; justify-content: center;}
        .capbox > h1 {font-family: 'Pretendard'; font-weight: 800; font-size: 55px;}
        
        #introduce> .introcenter> .introbox {width: 68%; height: 24%; background-image: url(../img/back.yellow.png); float: left; border-radius: 50px 0px;
        display: flex; justify-content:center; align-items: center; flex-flow: wrap row; float: left;}
        .profile {width: 35%; height: 75%; display: flex; justify-content: center; overflow: hidden;
        border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); border-radius: 40px 0px; background-image: url(../img/흰색도트.png); }
        .profile img{width: 100%; height: 100%;}
        .text {width: 55%; height: 80%; display: flex; flex-flow: row wrap; justify-content: center; margin-left: 30px;}
        .text h2 {width: 90%; height: 20%; font-size: 36px; font-family: 'Pretendard'; font-weight: 900; color:  rgb(233, 0, 0);}
        .text strong {width: 90%; height: 10%; font-size: 22px; font-family: 'Pretendard'; font-weight: 700; color: rgb(0, 0, 0)}
        .text p {width: 90%; height: 60%; font-size: 18px; line-height: 42px; font-family: 'Pretendard'; font-weight: 700;}
        
        /* 플라워왕국 스토리 */
        #story {width: 100%; height: auto; background-size: cover;}
        #story .storybox {width: 100%; height: 300px; margin: 0 auto;
        display: flex; justify-content: center; flex-flow: row wrap; align-items: center;}
        .storybox h1 {width: 100%; height: 20%; text-align: center; font-size: 60px; font-family: 'Pretendard'; font-weight: 800;}
        .storybox p {width: 80%; height: 60%; text-align: center; font-size: 18px; line-height: 35px; font-family: 'Pretendard'; font-weight: 500;}
        
        /* 소개영상 */
        #story .wonderflower {width: 100%; height: 700px; display: flex; justify-content: center; align-items: start; } 
        .wfvideo {width: 80%; height: auto; border-radius: 100px 0px; border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); overflow: hidden; position: relative;}
        .wfvideo > .storyvideo {width: 100%; height: 105%; object-fit: fill;}
        
        #btn-play {position: absolute; width: 110px; height: 110px; z-index: 1; top: 50%; left: 46%; border-radius: 100%; font-size: 70px;
        line-height: 50px; text-align: center;  background-color: white;
        border: 
        6px solid rgb(54, 54, 54); box-shadow: 0px 0px rgb(250, 212, 0); color:rgb(248, 59, 26); cursor: pointer;
        transform: translateY(-50%);}
        
        
        
        
        /* 캐릭터 배지 */
        #method {width: 100%; height: 1500px; background-image: url(../img/bg_item_blue.png);
        display: flex; justify-content: center; align-items: center;}
        .methodbox {width: 1300px; height: 1300px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
        .methodbox > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
            width: 90%; height: 58px; text-align: center; line-height: 60px; width: 600px; height: 100px; line-height: 50px;}
        
        .methodbox > .mtbox1 {width: 87%; height: 600px; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); }
        .mtbox1 > h2 {font-family: 'Pretendard'; width: 100%; height: 25%; text-align: center; line-height: 40px; font-weight: 800; padding: 20px 0px;}
        .methodig {width: 98%; height: 55%; position: relative;}
        .methodig img {position: absolute;}
        .methodig img:nth-of-type(1) {width: 30%; left: 5%; top: 10%;}
        .methodig img:nth-of-type(2) {width: 30%; right: 8%; top: 120px;}
        .methodig img:nth-of-type(3) {width: 22%; left: 3%; top: 180px;}
        .methodig img:nth-of-type(4) {width: 19%; left: 25%; top: 80px;}
        .methodig img:nth-of-type(5) {width: 25%; left: 40%; top: 0px;}
        .methodig img:nth-of-type(6) {width: 18%; right: 22%; top: 80px;}
        .methodig img:nth-of-type(7) {width: 23%; right: 3%; top: 230px; }
        
        
        .methodbox > .mtbox2 {width: 87%; height: 35%; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); display: flex; justify-content: space-around; flex-flow: row wrap;
        position: relative;}
        .mtbox2 > h2 {width: 100%; height: 20%; font-family: 'Pretendard'; font-weight: 800; line-height: 40px; font-size:25px; display: flex; align-items: center; justify-content: center;}
        .mtbox2 > .mtb {width: 45%; height: 80%; display: flex; justify-content: center; align-items: baseline;  flex-flow: row wrap;}
        .mtbox2 > .mtb > .mtbafter {width: 100%; height: 70%; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(250, 212, 0); border-radius: 50px 0px; overflow: hidden;}
        .mtbafter img {width: 100%; height: 100%;}
        .mtb > img {width: 80%; height: 20%;}
        .mtb > h2 {font-family: 'Pretendard'; font-weight: 800; font-size: 22px; background-color: rgb(0, 81, 255); color: #eee;
        width: 350px; height: 50px; border-radius: 100px; text-align: center; line-height: 50px;}
        
        .jump {position: absolute; width: 100px; left: 10px; top: 70px;}
        
        /* 코스선택 */
        #course {width: 100%; height: 1000px; background-image: url(../img/bg_item_blue.png); display: flex; justify-content: center; align-items: center;}
        .coursein {width: 1300px; height: 900px; display: flex; justify-content: center; align-items: center; flex-flow: row wrap;}
        .coursein > h1 {font-family: 'Pretendard'; font-weight: 900; color: #eee;
        width: 600px; text-align: center; height: 100px; line-height: 50px;}
        .coursebox {width: 90%; height: 40%;
        display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;}
        .cbox1 {width: 55%; height: 90%; background-color: cyan;
        border-radius: 50px 0px; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(243, 243, 243); overflow: hidden;}
        .cbox1 img {width: 101%; height: 101%;}
        .tbox1 {width: 38%; height: 90%; display: flex;
        flex-flow: row wrap; justify-content: center;}
        .tbox1 > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
        background-color: rgb(233, 0, 0); width: 90%; height: 58px; text-align: center; line-height: 60px;}
        .tbox1 > p {font-family: 'Pretendard'; font-size: 25px; line-height: 55px;
        text-align: left; width: 90%; color: #eee; font-weight: 700; letter-spacing: 3px;}


}

@media screen and (min-width : 1400px){
    #backimg {width: 100%; height: 3700px; background-image: url(../img/플라워왕국-고화질.png); background-size: cover;
        display: flex; flex-flow: row wrap; background-attachment: fixed ;}
        
        #slide {width: 100%; height: auto; position: relative;}
        #slide img {width: 100%; height: 100%; margin-bottom: -0px;}
        #slide > .slidetext p {width: 40%; height: 150px; 
        font-family: 'Pretendard'; font-size: 40px; font-weight: 900; color: #ffffff; text-align: center;
        position: absolute; line-height: 60px; top: 80px; left: 10%; text-shadow: 3px 3px 8px rgb(95, 95, 95);}
        
        
        /* 주민소개 */
        #introduce {width: 100%; height: 1400px; display: flex; justify-content: center; align-items: center;}
        #introduce> .introcenter {width: 1300px; height: 1200px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
         border-radius: 100px 0px;}
        #introduce> .introcenter> .capbox {width: 100%; height: 100px; display: flex; align-items: center; justify-content: center;}
        .capbox > h1 {font-family: 'Pretendard'; font-weight: 800; font-size: 55px;}
        
        #introduce> .introcenter> .introbox {width: 68%; height: 24%; background-image: url(../img/back.yellow.png); float: left; border-radius: 50px 0px;
        display: flex; justify-content:center; align-items: center; flex-flow: wrap row; float: left;}
        .profile {width: 28%; height: 75%; display: flex; justify-content: center; overflow: hidden;
        border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); border-radius: 40px 0px; background-image: url(../img/흰색도트.png); }
        .profile img{width: 100%; height: 100%;}
        .text {width: 55%; height: 80%; display: flex; flex-flow: row wrap; justify-content: center; margin-left: 30px;}
        .text h2 {width: 90%; height: 20%; font-size: 36px; font-family: 'Pretendard'; font-weight: 900; color:  rgb(233, 0, 0);}
        .text strong {width: 90%; height: 10%; font-size: 22px; font-family: 'Pretendard'; font-weight: 700; color: rgb(0, 0, 0)}
        .text p {width: 90%; height: 60%; font-size: 18px; line-height: 42px; font-family: 'Pretendard'; font-weight: 700;}
        
        /* 플라워왕국 스토리 */
        #story {width: 100%; height: 1300px; background-size: cover;}
        #story .storybox {width: 1300px; height: 300px; margin: 0 auto;
        display: flex; justify-content: center; flex-flow: row wrap; align-items: center;}
        .storybox h1 {width: 100%; height: 20%; text-align: center; font-size: 60px; font-family: 'Pretendard'; font-weight: 800;}
        .storybox p {width: 80%; height: 60%; text-align: center; font-size: 18px; line-height: 35px; font-family: 'Pretendard'; font-weight: 500;}
        
        
        
        /* 소개영상 */
        #story .wonderflower {width: 100%; height: 800px; display: flex; justify-content: center; align-items: center; } 
        .wfvideo {width: 80%; height: 700px; border-radius: 100px 0px; border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); overflow: hidden; position: relative;}
        .wfvideo > .storyvideo {width: 100%; height: 100%; object-fit: fill;}
        
        
        
        /* 캐릭터 배지 */
        #method {width: 100%; height: 1500px; background-image: url(../img/bg_item_blue.png);
        display: flex; justify-content: center; align-items: center;}
        .methodbox {width: 1300px; height: 1500px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
        .methodbox > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
            width: 90%; height: 58px; text-align: center; line-height: 60px; width: 600px; height: 100px; line-height: 50px;}
        
        .methodbox > .mtbox1 {width: 87%; height: 600px; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); }
        .mtbox1 > h2 {font-family: 'Pretendard'; width: 100%; height: 25%; text-align: center; line-height: 40px; font-weight: 800; padding: 20px 0px;}
        .methodig {width: 98%; height: 55%; position: relative;}
        .methodig img {position: absolute;}
        .methodig img:nth-of-type(1) {width: 350px; left: 5%; top: -70px;}
        .methodig img:nth-of-type(2) {width: 300px; right: 8%; top: 100px;}
        .methodig img:nth-of-type(3) {width: 210px; left: 3%; top: 180px;}
        .methodig img:nth-of-type(4) {width: 170px; left: 25%; top: 70px;}
        .methodig img:nth-of-type(5) {width: 260px; left: 40%; top: 0px;}
        .methodig img:nth-of-type(6) {width: 180px; right: 22%; top: 80px;}
        .methodig img:nth-of-type(7) {width: 230px; right: 2%; top: 220px; }
        
        
        .methodbox > .mtbox2 {width: 87%; height: 35%; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); display: flex; justify-content: space-around; flex-flow: row wrap;
        position: relative;}
        .mtbox2 > h2 {width: 100%; height: 20%; font-family: 'Pretendard'; font-weight: 800; line-height: 40px; font-size:25px; display: flex; align-items: center; justify-content: center;}
        .mtbox2 > .mtb {width: 45%; height: 80%; display: flex; justify-content: center; align-items: baseline;  flex-flow: row wrap;}
        .mtbox2 > .mtb > .mtbafter {width: 100%; height: 70%; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(250, 212, 0); border-radius: 50px 0px; overflow: hidden;}
        .mtbafter img {width: 100%; height: 100%;}
        .mtb > img {width: 80%; height: 20%;}
        .mtb > h2 {font-family: 'Pretendard'; font-weight: 800; font-size: 22px; background-color: rgb(0, 81, 255); color: #eee;
        width: 350px; height: 50px; border-radius: 100px; text-align: center; line-height: 50px;}
        
        .jump {position: absolute; width: 100px; left: 10px; top: 70px;}
        
        /* 코스선택 */
        #course {width: 100%; height: 1000px; background-image: url(../img/bg_item_blue.png); display: flex; justify-content: center; align-items: center;}
        .coursein {width: 1300px; height: 900px; display: flex; justify-content: center; align-items: center; flex-flow: row wrap;}
        .coursein > h1 {font-family: 'Pretendard'; font-weight: 900; color: #eee;
        width: 600px; text-align: center; height: 100px; line-height: 50px;}
        .coursebox {width: 90%; height: 40%;
        display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;}
        .cbox1 {width: 55%; height: 90%; background-color: cyan;
        border-radius: 50px 0px; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(243, 243, 243); overflow: hidden;}
        .cbox1 img {width: 101%; height: 101%;}
        .tbox1 {width: 38%; height: 90%; display: flex;
        flex-flow: row wrap; justify-content: center;}
        .tbox1 > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
        background-color: rgb(233, 0, 0); width: 90%; height: 58px; text-align: center; line-height: 60px;}
        .tbox1 > p {font-family: 'Pretendard'; font-size: 25px; line-height: 55px;
        text-align: left; width: 90%; color: #eee; font-weight: 700; letter-spacing: 3px;}


}




@media screen and (min-width : 1645px){
    #backimg {width: 100%; height: 3700px; background-image: url(../img/플라워왕국-고화질.png); background-size: cover;
        display: flex; flex-flow: row wrap; background-attachment: fixed ;}
        
        #slide {width: 100%; height: 1000px; position: relative;}
        #slide img {width: 100%; height: 100%; margin-bottom: -500px;}
        #slide > .slidetext p {width: 600px; height: 200px; 
        font-family: 'Pretendard'; font-size: 50px; font-weight: 900; color: #ffffff; text-align: center;
        position: absolute; line-height: 80px; top: 80px; left: 14%; text-shadow: 3px 3px 8px rgb(95, 95, 95);}
        
        
        /* 주민소개 */
        #introduce {width: 100%; height: 1400px; display: flex; justify-content: center; align-items: center;}
        #introduce> .introcenter {width: 1300px; height: 1200px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
         border-radius: 100px 0px;}
        #introduce> .introcenter> .capbox {width: 100%; height: 100px; display: flex; align-items: center; justify-content: center;}
        .capbox > h1 {font-family: 'Pretendard'; font-weight: 800; font-size: 55px;}
        
        #introduce> .introcenter> .introbox {width: 68%; height: 24%; background-image: url(../img/back.yellow.png); float: left; border-radius: 50px 0px;
        display: flex; justify-content:center; align-items: center; flex-flow: wrap row; float: left;}
        .profile {width: 28%; height: 75%; display: flex; justify-content: center; overflow: hidden;
        border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); border-radius: 40px 0px; background-image: url(../img/흰색도트.png); }
        .profile img{width: 100%; height: 100%;}
        .text {width: 55%; height: 80%; display: flex; flex-flow: row wrap; justify-content: center; margin-left: 30px;}
        .text h2 {width: 90%; height: 20%; font-size: 36px; font-family: 'Pretendard'; font-weight: 900; color:  rgb(233, 0, 0);}
        .text strong {width: 90%; height: 10%; font-size: 22px; font-family: 'Pretendard'; font-weight: 700; color: rgb(0, 0, 0)}
        .text p {width: 90%; height: 60%; font-size: 18px; line-height: 42px; font-family: 'Pretendard'; font-weight: 700;}
        
        /* 플라워왕국 스토리 */
        #story {width: 100%; height: 1300px; background-size: cover;}
        #story .storybox {width: 1300px; height: 300px; margin: 0 auto;
        display: flex; justify-content: center; flex-flow: row wrap; align-items: center;}
        .storybox h1 {width: 100%; height: 20%; text-align: center; font-size: 60px; font-family: 'Pretendard'; font-weight: 800;}
        .storybox p {width: 80%; height: 60%; text-align: center; font-size: 18px; line-height: 35px; font-family: 'Pretendard'; font-weight: 500;}
        
        
        
        /* 소개영상 */
        #story .wonderflower {width: 100%; height: 800px; display: flex; justify-content: center; align-items: center; } 
        .wfvideo {width: 1300px; height: 700px; border-radius: 100px 0px; border: 6px solid black; box-shadow:  0px 0px 0px 6px rgb(255, 255, 255); overflow: hidden; position: relative;}
        .wfvideo > .storyvideo {width: 100%; height: 100%; object-fit: fill;}
        
        #btn-play {position: absolute; width: 110px; height: 110px; z-index: 1; top: 50%; left: 46%; border-radius: 100%; font-size: 70px;
        line-height: 50px; text-align: center;  background-color: white;
        border: 
        6px solid rgb(54, 54, 54); box-shadow: 0px 0px rgb(250, 212, 0); color:rgb(248, 59, 26); cursor: pointer;
        transform: translateY(-50%);}
        
        
        
        
        /* 캐릭터 배지 */
        #method {width: 100%; height: 1500px; background-image: url(../img/bg_item_blue.png);
        display: flex; justify-content: center; align-items: center;}
        .methodbox {width: 1300px; height: 1500px; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
        .methodbox > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
            width: 90%; height: 58px; text-align: center; line-height: 60px; width: 600px; height: 100px; line-height: 50px;}
        
        .methodbox > .mtbox1 {width: 87%; height: 600px; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); }
        .mtbox1 > h2 {font-family: 'Pretendard'; width: 100%; height: 25%; text-align: center; line-height: 40px; font-weight: 800; padding: 20px 0px;}
        .methodig {width: 98%; height: 55%; position: relative;}
        .methodig img {position: absolute;}
        .methodig img:nth-of-type(1) {width: 350px; left: 5%; top: -70px;}
        .methodig img:nth-of-type(2) {width: 300px; right: 8%; top: 100px;}
        .methodig img:nth-of-type(3) {width: 210px; left: 3%; top: 180px;}
        .methodig img:nth-of-type(4) {width: 170px; left: 25%; top: 70px;}
        .methodig img:nth-of-type(5) {width: 260px; left: 40%; top: 0px;}
        .methodig img:nth-of-type(6) {width: 180px; right: 22%; top: 80px;}
        .methodig img:nth-of-type(7) {width: 230px; right: 2%; top: 220px; }
        
        
        .methodbox > .mtbox2 {width: 87%; height: 35%; border-radius: 100px 0px; background-image: url(../img/아이보리\ 도트.png); display: flex; justify-content: space-around; flex-flow: row wrap;
        position: relative;}
        .mtbox2 > h2 {width: 100%; height: 20%; font-family: 'Pretendard'; font-weight: 800; line-height: 40px; font-size:25px; display: flex; align-items: center; justify-content: center;}
        .mtbox2 > .mtb {width: 45%; height: 80%; display: flex; justify-content: center; align-items: baseline;  flex-flow: row wrap;}
        .mtbox2 > .mtb > .mtbafter {width: 100%; height: 70%; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(250, 212, 0); border-radius: 50px 0px; overflow: hidden;}
        .mtbafter img {width: 100%; height: 100%;}
        .mtb > img {width: 80%; height: 20%;}
        .mtb > h2 {font-family: 'Pretendard'; font-weight: 800; font-size: 22px; background-color: rgb(0, 81, 255); color: #eee;
        width: 350px; height: 50px; border-radius: 100px; text-align: center; line-height: 50px;}
        
        .jump {position: absolute; width: 100px; left: 10px; top: 70px;}
        
        /* 코스선택 */
        #course {width: 100%; height: 1000px; background-image: url(../img/bg_item_blue.png); display: flex; justify-content: center; align-items: center;}
        .coursein {width: 1300px; height: 900px; display: flex; justify-content: center; align-items: center; flex-flow: row wrap;}
        .coursein > h1 {font-family: 'Pretendard'; font-weight: 900; color: #eee;
        width: 600px; text-align: center; height: 100px; line-height: 50px;}
        .coursebox {width: 90%; height: 40%;
        display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;}
        .cbox1 {width: 55%; height: 90%; background-color: cyan;
        border-radius: 50px 0px; border: 6px rgb(46, 46, 46) solid; box-shadow: 0px 0px 0px 7px rgb(243, 243, 243); overflow: hidden;}
        .cbox1 img {width: 101%; height: 101%;}
        .tbox1 {width: 38%; height: 90%; display: flex;
        flex-flow: row wrap; justify-content: center;}
        .tbox1 > h1 {font-family: 'Pretendard'; font-size: 35px; font-weight: 800; color: #eee;
        background-color: rgb(233, 0, 0); width: 90%; height: 58px; text-align: center; line-height: 60px;}
        .tbox1 > p {font-family: 'Pretendard'; font-size: 25px; line-height: 55px;
        text-align: left; width: 90%; color: #eee; font-weight: 700; letter-spacing: 3px;}

}